language: bash
services: docker
sudo: required

env:
  - IMAGE: tdmproject/tdmq-notebook

install:
  - make images IMAGE=${IMAGE}

script:
  - docker run -it --rm --entrypoint "" $IMAGE bash -l -c "python3 -c 'import tiledb'"
  - docker-compose up -d
  - docker exec datanode bash -c 'until datanode_cid; do sleep 0.1; done'
  - docker exec namenode bash -c "hdfs dfs -mkdir /tiledb"
  - docker exec namenode bash -c "hdfs dfs -chmod a+wr /tiledb"
  - docker exec tdmq-notebook bash -c "sed -i s/localhost/namenode/ /opt/hadoop/etc/hadoop/core-site.xml"
  - docker exec tdmq-notebook bash -c "python /quickstart_dense.py -f hdfs://namenode:8020/tiledb"


deploy:
  - provider: script
    script: bash push.sh
    on:
      repo: tdm-project/tdmq-notebook
      branch: master
